<% if commentable.comments %>
  <% commentable.comments.each do |comment| %>
    <!-- the following line eliminates the blank comment -->
    <% next if comment.new_record? %>
    <p id="comment_<%= comment.id %>" class="well">
      <%= comment.body %>
      <span class="glyphicon glyphicon-comment reply-toggle"
            id="reply-toggle-<%= comment.id %>" data-toggle="tooltip"
            data-placement="top" data-animation="fade"
            title="Reply to this comment">
      </span>
      <span class="comment-timestamp timestamp">
        Posted <%= time_ago_in_words(comment.created_at) %> ago
      </span>
    </p>
    <div class="hidden-reply-to-comment-form"
         id="hidden-reply-to-comment-form-<%= comment.id %>">
      <!-- rendering the partial: 'comments/reply_form' will produce triple replies! -->
      <%= render partial: 'shared/comment_form', 
                   locals: { commentable: comment } %>
    </div>

    <ul>
      <%= render partial: 'comments/reply',
                 locals: { commentable: comment } %>
    </ul>

    <script>
      $("#reply-toggle-<%= comment.id %>").click(function(){
          $("#hidden-reply-to-comment-form-<%= comment.id %>").toggle();
      });
    </script>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(document.body).tooltip({ selector: "[title]" });
  })
</script>