<% provide(:title, @title) %>
<div class="show-follow-followers" id="layout-base">
  <aside class="col-md-4">
    <section class="user_info">
      <div id="gravatar-adjust"><%= gravatar_for @user %></div>
      <h1 class="primary-font" id="user_info_show_name">
        <%= @user.name %>
      </h1>
      <span><%= link_to "view my profile", @user %></span>
      <span class="sidebar-post-count">
        <%= pluralize(current_user.microposts.count, "panogram") %>
      </span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <h3 class="page-title hidden-title"><%= @title %></h3>
      <% if @users.any? %>
        <div class="user_avatars col-xs-12">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8 col-xs-12">
    <h3 class="page-title default-title"><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow microposts">
        <%= render @users %>
      </ul>
      <div class="pagination-wrapper center">
        <div class="pagination primary-font">
          <%= will_paginate @users, previous_label: "<", 
                                    next_label: ">",
                                    inner_window: 1, 
                                    outer_window: 0,
                                    :container => false %>
        </div>
      </div>
    <% end %>
  </div>
</div>