<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-xs-12 col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="user-stats-timestamp">
      <% if current_user.admin? %>
        <p>Account created on: <%= @user.created_at %></p>
        <p>Account updated on: <%= @user.updated_at %></p>
        <br>
        <p>The time is now: <%= Time.now %></p>
      <% end %>
    </section>
  </aside>
  <div class="col-xs-12 col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3 class="micropost_count">Pano-posts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
