<% if micropost.comments.empty? %>

  <span class="comment-form-toggle" id="comment-form-toggle-<%= micropost.id %>">
    - comment <span class="glyphicon glyphicon-comment"></span>
  </span>

  <script>
    $("#comment-form-toggle-<%= micropost.id %>").click(function(){
      $("#hidden-comment-form-<%= micropost.id %>").toggle();
    });
  </script>

<% else %>
  <span id="comments_<%= micropost.id %>" class="comments-toggle" data-turbolinks="false">
    - <%= pluralize(micropost.comments.count, "comment") %> -
  </span>

  <script>
    $(document).ready(function(){
      $("#comments_<%= micropost.id %>").click(function(){
          $("#hidden-comments-<%= micropost.id %>").toggle();
      });
      $("#leave-comment-<%= micropost.id %>").click(function(){
        $("#hidden-comment-form-<%= micropost.id %>").toggle();
      });
    });
  </script>
<% end %>