<%= form_for(@micropost, html: { multipart: true }) do |f|%>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, 
                     maxlength: 140, 
                     placeholder: "Compose a new panogram..." %>
  </div>
  <span class="countdown"></span>
  <span class="picture">
    <%= f.file_field :picture, 
                      class: "filestyle",
                      'data-size' => 'sm',
                      'data-buttonName' => "btn-choose",
                      'data-buttonBefore' => true,
                      'data-buttonText' => 'Choose image',
                      'data-placeholder' => 'No image yet...',
                      accept: 'image/jpeg,image/jpg/,image/gif,image/png' %>
  </span>
  <br>

  <%= f.submit "Post", class: "btn btn-submit" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script type="text/javascript">
  function updateCountdown() {

    var $countdown = $('.countdown');

    // 140 is the max message length
    var remaining = 140 - $('#micropost_content').val().length;

    $countdown.text(remaining + ' characters remaining');

    var color = 'grey';
    if (remaining < 31) { color = 'black'; }
    if (remaining < 21) { color = '#ff7600'; } //orange
    if (remaining < 11) { color = '#de0000'; } //red
    $countdown.css( { color: color} );
  }

  $(document).ready(function($) {
      updateCountdown();
      $micropost_content = $('#micropost_content');

      $micropost_content.change(updateCountdown);
      $micropost_content.keyup(updateCountdown);
      $micropost_content.keydown(updateCountdown);
  });
</script>